:root {
  /* Naming convention:
   * `--w7-<component>-<property>-<state>`
   * where:
   * <component> is the name of the component (el = element, li = list item, etc.)
   * <property> is the property being defined (bg = background, bd = border, c = color, sd = shadow, etc.)
   * <state> is the state of the component (d = disabled, h = hovered, a = active, hl = highlighted, etc.)
   */

  color-scheme: light dark;

  --w7-font: 10.5pt "Segoe UI", "SegoeUI", "Noto Sans", sans-serif;
  --w7-surface: light-dark(#f0f0f0, #202020);

  --w7-el-bg: light-dark(#f2f2f2, #2c2c2c);
  --w7-el-bg-d: light-dark(#f4f4f4, #333333);
  --w7-el-bg-s-1: light-dark(#ebebeb, #262626); /* element background shade 1 (slightly darker) */
  --w7-el-bg-s-2: light-dark(#cfcfcf, #1a1a1a); /* element background shade 2 (darker) */

  --w7-el-sd: inset 0 0 0 1px light-dark(#fffc, #ffffff26);
  --w7-el-sd-a: inset 1px 1px 0 light-dark(#0003, #00000066), inset -1px 1px 0 light-dark(#0001, #ffffff1a);

  --w7-el-bd: light-dark(#8e8f8f, #6e6e6e);
  --w7-el-bd-h: light-dark(#3c7fb1, #5b9bd0);
  --w7-el-bd-a: light-dark(#6d91ab, #7fa8c9);
  --w7-el-bd-d: light-dark(#adb2b5, #4a4a4a);
  --w7-el-bdr: 3px; /* element border radius */

  --w7-el-c: light-dark(#000000, #e8e8e8);
  --w7-el-c-d: light-dark(#838383, #8a8a8a);

  --w7-el-grad: linear-gradient(var(--w7-el-bg) 45%, var(--w7-el-bg-s-1) 45%, var(--w7-el-bg-s-2));
  --w7-el-grad-h: linear-gradient(
    light-dark(#eaf6fd, #25415a) 45%,
    light-dark(#bee6fd, #1c3550) 45%,
    light-dark(#a7d9f5, #15293f)
  );
  --w7-el-grad-a: linear-gradient(
    light-dark(#e5f4fc, #2b4a63),
    light-dark(#c4e5f6, #1f3a52) 30% 50%,
    light-dark(#98d1ef, #173047) 50%,
    light-dark(#68b3db, #0f2333)
  );

  --w7-li-bd-hl: light-dark(#aaddfa, #3c7fb1);
  --w7-li-bg-hl: linear-gradient(light-dark(#fff9, #ffffff14), light-dark(#e6ecf5cc, #2f425acc) 90%, light-dark(#fffc, #ffffff1a));
}
